<!-- 첫 화면 -->

{% if latest_question_list %}
<!-- 만약 latest_question_list가 존재한다면 -->
    <ul>
    {% for question in latest_question_list %}
    <!-- 해당 Question 각각에 대해서 -->
        <li><a href = "/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        <!-- 질문 text를 누르면  /polls/{{ question.id }} 라는 링크로 보내게 해주세요 -->
    {% endfor %}
    <!-- 그리고 끝내고요 -->
    </ul>
{% else %}
<!-- 만약 latest_question_list가 없다면 -->
    <p>No polls are available.</p>
    <!-- 투표할 수 있는게 없습니다 라고 알려주세요~ -->
{% endif % }
<!-- 끝내요 -->




